<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ base_url() }}/css/main.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="container">
    <div class="split left">
        <h1>Трейдинг</h1>
        <a href="{{ path_for('trading') }}" class="button">Перейти</a>
    </div>
    <div class="split right">
        <h1>Ставки</h1>
        <a href="{{ path_for('bets') }}" class="button">Перейти</a>
    </div>
</div>
<script src="{{ base_url() }}/js/main.js"></script>
</body>
</html>